<ion-view ng-controller="ContactController" title="Contactez Nous">
    <ion-content class="has-header">


        <form name='contactForm' ng-submit='sendMessage(message)' novalidate>
            <div class="card">
                <div class="item item-stable">
                    FORMULAIRE DE CONTACT
                </div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Votre Nom</span>
                    <input ng-model="message.fromName"
                           ng-required='true'
                           ng-minlength="2"
                           type="text"
                           placeholder="Nom" >
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input ng-model="message.fromEmail"
                           ng-required="true"
                           type="email"
                           placeholder="example@mail.com">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Message</span>
                    <textarea ng-model="message.content"
                              ng-required="true"
                              ng-minlength="5"
                              ng-maxlength="250"
                              type="text"
                              placeholder="message">
                        Votre message
                    </textarea>
                </label>
                <div class="item item-divider"></div>
                <div class="item">
                    <button ng-disabled='!contactForm.$valid' class="button button-positive button-outline">Envoyer</button>
                </div>
                <div class="item item-divider"></div>
            </div>
        </form>

    </ion-content>
</ion-view>