<ion-view view-title="Apropos de IDH">
    <ion-content>
        <div class="list card">
            <div class="item item-stable">
                Qui sommes nous ?
            </div>

            <div class="item item-body">
                <p>
                    Mts c une application pour prendre des photo et partager avec d'autre personne
                </p>
                <p>
                    <a href="#" class="subdued">Notre objectif : votre RÉUSSITE</a>
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>